.color-primary {
    color: #f28805; 
}
.color-secondary {
    color: #e2cd10 
}
.color-accent {
    color: #FFFFFF; 
    background-color: #003257; 
}
.home-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #003257; /* Yale blue */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.home-button:hover {
    background-color: #f28805; /* Darker shade of Yale blue */
    transform: translateY(-2px);
}

.home-button:active {
    background-color: #e2cd10; /* Even darker shade of Yale blue */
    transform: translateY(0);
}
@media (max-width: 991.98px){
  
    .logo {
      width: 80px;
      height: 80px;
    }
    .underline {
      width: 100%;
    }
    footer .col-md-6 {
      text-align: center;
    }
    footer .col-md-6.text-md-end {
      text-align: center;
    }
    nav,button, footer p, .nav-item{
      font-size: 15px;
    }
    .d1, .logo-text{
      display: none;
    }
    .rectangle-div {
      top: 20px;
      left: 63px;
    }
    .main-text {
      top: 80px;
      left:125px;
      font-weight: 500;
      height: 100px;
      width: 100px;
    }
    .main-block {
      margin-top: 40px;
    }
    .description{
      font-size: 1.1em;
    }
    .box-2{
      width: 100%;
    }
    .YSoA{
      display: block;
      font-size: 2.5em;
    }
  }