body {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #003257;
    margin: 0;
    padding: 0;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-item {
    background-color: #fff;
    border: 1px solid #dfdddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.news-item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.news-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.news-item h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 15px;
}

.news-item p {
    margin: 0 15px 15px;
    font-size: 1em;
    color: #003257;
}

.news-item a {
    display: block;
    text-align: right;
    padding: 10px 15px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.news-item a:hover {
    text-decoration: underline;
}

.headline {
    grid-column: span 3; 
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.headline img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.headline h2 {
    font-size: 2em;
}

.headline p {
    font-size: 1.2em;
    color: #003257;
}
.headnews {
    grid-row: span 2;
}

  .home-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #003257; /* Yale blue */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.home-button:hover {
    background-color: #f28805; /* Darker shade of Yale blue */
    transform: translateY(-2px);
}

.home-button:active {
    background-color: #e2cd10; /* Even darker shade of Yale blue */
    transform: translateY(0);
}

@media (max-width: 768px) {
    .headline {
        grid-column: span 1;
        flex-direction: column;
    }

    .headline img {
        height: 200px;
    }

    .headline h2 {
        font-size: 1.5em;
    }

    .headline p {
        font-size: 1em;
    }
}